@(message: Option[String])

@import gremblor.ecm.mtgox.MtGoxTicker
@import com.xeiam.xchange.dto.marketdata.Ticker

@main("Gremblor Heavy Industries") {
  <h2>Gremblor Heavy Industries</h2>
  <h3>Electronic Currency Trading Platform</h3>

  @{
    // Display any optional message text in a div at the top.
    message match {
      case None => ""
      case Some(str) => <div><em>str</em></div>
    }
  }

  <div class="row"><div class="span12">MtGox live:</div></div>
  <div class="row">
    <div class="span1">Time</div>
    <div class="span1">Last</div>
    <div class="span1">Bid</div>
    <div class="span1">Ask</div>
    <div class="span1">Open</div>
    <div class="span1">Close</div>
  </div>
  <div class="row">
  @{
    val mtGoxTicker: MtGoxTicker = new MtGoxTicker
    val ticker: Ticker = mtGoxTicker.getQuote()
    <div class="span1">{ticker.getTimestamp()}</div>
    <div class="span1">{ticker.getLast()}</div>
    <div class="span1">{ticker.getBid()}</div>
    <div class="span1">{ticker.getAsk()}</div>
    <div class="span1">{ticker.getHigh()}</div>
    <div class="span1">{ticker.getLow().toString()}</div>
  }
  </div>
}
